**Q1. What is a database? Differentiate between SQL and NoSQL databases.**

A database is a organized colection of structured information in a computer system. A software tool which allows to store data and manage databases is called Database Management System(DBMS).  
* Structured Query Language (SQL) is the programming language that is used to store data in structured format i.e. rows and columns. SQL is used in Relational Databases Management System(RDBMS).
* Not Only SQL (NoSQL) is the programing language tha is used to store data in unstructured format i.e. files, videos, images etc. NoSQL is used in Non-Relational Databases.

**Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.**

Data Definition Language (DDL) is a subset of SQL that is used to define or describe objects in a  database. Objects here may be tables, sequences, locations, views etc. Primary COmmands include CREATE, DROP, ALTER, and TRUNCATE.

CREATE is a DDL command that is used to ceate tables or database in a connection.  
Eg- CREATE DATABASE test; ---> Creates a database.

DROP is a DDL command that permanently deletes objects from a database. DROP deletes the entire structure or schema of a table or database.  
Eg- DROP TABLE test.test_table; ---> Deletes the schema of the specified table alongside all the data.

ALTER is a DDL command that updates the structure of tables in databases. It performs activty on structure level and not on data level.  
Eg- ALTER TABLE tset.test_table ADD c6 INT; ---> It adds a new column in the specified table.

TRUNCATE is a DDL command that drops all the rows in the table without deleting the structure of table.  
Eg- TRUNCATE TABLE test.test_table; ---> It deletes all the data from the specified table without deleting in the schema of table.

**Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.**

Data Manipulation Language (DML) is a subset of SQL commands that helps in manipulation of data in database. This is a component of SQL that controls access to data and database. Primary commands are INSERT, UPDDATE and DELETE.

INSERT is a DML command that is used to insert data into a table.  
Eg- INSERT INTO test.test_table VALUES( 10 , 'stu1' , 20 , 'abc' ); ---> It inserts a new record or tuple in the table with the given values.

UPDATE is a DML command that is used to update the existing data in a table.  
Eg- UPDATE test.test_table SET c2 = 'student2' WHERE c1 = 2; ---> It updates all the records or tuples which satisfiy the given condition. If 'WHERE' clause is not is not given then all records wll be updated.

DELETE is a DML command that is used to delete a single record from a table.  
Eg- DELETE FROM test.test_table WHERE c1 = 3; ---> It deletes all the records or tuples which satisfy the given condition. If 'WHERE' clause is not given then all the data is deleted from the table.

**Q4. What is DQL? Explain SELECT with an example.**

Data Query Language (DQL) is a subset of SQL commands that helps in performing queries on data within schema objects i.e. its pulls data from objects having a schema like tables, views etc. Primary commands are SELECT.

SELECT is a DQL command that is used select data from database.  
Eg- SELECT c1 FROM test.test_table;  --->  It selects all the data from column 'c1' from table 'test_table' which exists in database 'test'.

**Q5. Explain Primary Key and Foreign Key.**

A key is a column or a collection of columns which can be used to uniquely identify records in a table.  
A primary key is a single column that is not null and uniquely identifies all the records in a table.  
A foreign key is a column or a collection of a table that refers to a key in another tables i.e. columns with same name in both tables posses same values for every record.

**Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.**

In [5]:
import mysql.connector as msq
db = msq.connect(
    host = 'localhost',
    user = 'root',
    password = 'password'
)
cu = db.cursor()
cu.execute('select * from test.table_name')
for i in cu:
    print(i)
db.close()

(123, 'manu', 234.54, 10, 'bhaskar')
(100, 'abcde', 23.302, 10, 'usadkh')
(101, 'mawe', 232.29, 10, 'jdie')
(102, 'uiewf', 93.24, 10, 'eoeeow')
(103, 'oeur', 315.22, 10, 'pweodj')
(104, 'orwp', 32.56, 10, 'ldjdfk')
(105, 'wajf', 63.48, 10, 'leohfe')

cursor() method of a connection object reurns a cursor class which can be used to execute the given SQL command in the SQL terminal.  
execute() method of a cursor class which is used to execute SQL commands given as parameter and the output is stored inthe class which is iterable.

**Q7. Give the order of execution of SQL clauses in an SQL query.**

The order of execution refers to the order in which the parts SQL query is evaluated. The order of execution is as follows :-  
1. FROM 
2. WHERE
3. GROUP BY
4. HAVING
5. SELECT
6. ORDER BY
7. LIMIT